<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11280205116-42gob400ae5gq25oqb9hroc74vonqcr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11280205116-42gob400ae5gq25oqb9hroc74vonqcr0</string>
	<key>API_KEY</key>
	<string>AIzaSyBu0wWDFo4bA_v2zV4_Z7BbLgfxo5KxrxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>11280205116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>evana.X-Team-Test-Movies</string>
	<key>PROJECT_ID</key>
	<string>x-team-test-movies</string>
	<key>STORAGE_BUCKET</key>
	<string>x-team-test-movies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11280205116:ios:4d73ac786aef94a6e2ca39</string>
	<key>DATABASE_URL</key>
	<string>https://x-team-test-movies.firebaseio.com</string>
</dict>
</plist>